{% extends "layout.html" %}


{% block content %}
    <h1> Главная страница </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Atque consequatur delectus distinctio dolores dolorum eius error excepturi exercitationem
        fugit hic inventore itaque nisi nobis perspiciatis quasi quia, quidem quisquam recusandae sapiente
        tempora unde vitae voluptatem! Adipisci aliquam asperiores aspernatur doloremque dolores ex labore
        non perspiciatis, reiciendis repellendus! Atque consequatur delectus dicta distinctio dolores dolorum est harum,
        incidunt, nihil odit officia officiis, perferendis perspiciatis quod repellat reprehenderit repudiandae sunt?
        Accusantium adipisci animi aut dolorem earum incidunt ipsum iste, mollitia nam nostrum
        quas repudiandae sint, tempora. Culpa cupiditate dolore hic in magnam maxime numquam pariatur
        perferendis placeat quasi, quia quidem reiciendis repudiandae!
    </p>
{% endblock %}