<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Music</title>
</head>
<body>
    <h1 >My Music</h1>
    {% for music in music_list %}

        <h2 style="font-size: 32px; text-decoration: underline">{{ music.artist }}</h2>
        <h3 style="font-size: 26px; font-style: italic"> {{ music.title }}</h3>
        <p style="font-size: 20px">{{ music.album }}</p>
        <p style="font-size: 20px">{{ music.year }}</p>
        <hr>
    {% endfor %}


</body>

</body>
</html>